.wrapper {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.content.text {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    font-size: x-large;
    margin: 8px;
    padding: 8px;
    width: 50vw;
    max-height: fit-content;
}

.copyright {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.content a {
    color: var(--text-color);
}

.content a:hover {
    color: blue;
}

#underline {
    align-self: center;
    background: var(--text-color);
    border: 0;
    height: 2px;
    margin: 8px;
    width: 100%;
}

@media screen and (orientation: portrait) {
    .content.text {
        width: 80vw;
    }
}