.submission-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.image-form {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 32px;
    padding: 8px;
}

.image-form input {
    border: 1px solid gainsboro;
    border-radius: 4px;
    display: flex;
    padding: 10px;
}

button {
    border: 1px solid gainsboro;
    border-radius: 4px;
    margin-top: 12px;
    padding: 8px;
}

.image-display {
    margin: 32px;
    padding: 8px;
}

#select {
    color: black;
}

#folder-empty {
    align-items: center;
    display: flex;
    justify-content: center;
}