@import url("Home.css");
@import url("NavBar.css");
@import url("Photos.css");
@import url("ImageSorting.css");
@import url("About.css");
@import url("Admin.css");
@import url("PhotoCard.css");

:root {
    font-family: monospace;

    --text-color: whitesmoke;
    --background: slategray;
    --on-background: darkslategray;
    --on-background-hover: darkseagreen;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    padding: 48px 0 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}