@import url("Home.css");
@import url("NavBar.css");
@import url("Photos.css");
@import url("ImageSorting.css");
@import url("About.css");
@import url("Admin.css");
@import url("PhotoCard.css");

:root {
    font-family: monospace;

    --text-color: lightgray;
    --background: rgb(8, 8, 8);

}

body {
    background-color: var(--background);
    color: var(--text-color);
    margin-top: 5em;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}