@import url("Home.css");
@import url("NavBar.css");
@import url("Photos.css");
@import url("ImageSorting.css");
@import url("About.css");
@import url("Admin.css");
@import url("PhotoCard.css");

:root {
    font-family: monospace;

    --text-color: lightgray;
    --background: rgb(8 8 8);
    --button-bg: rgb(40 40 40);
    --button-hover-glow: rgb(70 70 70);
    --current-selection: rgb(88 17 202);
}

body {
    background-color: var(--background);
    margin: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
        "."
        "."
        "main-content";
    grid-template-rows: 5em 3em 1fr;
    height: 100dvh;
}