@import url("Home.css");
@import url("NavBar.css");
@import url("Photos.css");
@import url("ImageSorting.css");
@import url("About.css");
@import url("Admin.css");
@import url("PhotoCard.css");

:root {
    font-family: monospace;

    --text-color: lightgray;
    --background: rgb(8, 8, 8);
    --button-bg: rgb(40, 40, 40);
    --button-hover-glow: rgba(255, 255, 255, 0.26);
    --current-selection: rgb(88, 17, 202);
}

body {
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    margin-top: 5em;
}

h1,
h2,
h3,
button,
p {
    margin: 0;
    padding: 0;
}