.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 92vh;
    justify-content: space-evenly;
    padding: 12px;
}

.image-container {
    width: 40vw;
}

.image {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3 / 2;
    transition: 0.3s;
}

.image:hover {
    border-color: var(--text-color);
    box-shadow: 0 0 100px 10px var(--text-color);
}

.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    justify-content: center;
}

.icon {
    background-color: transparent;
    border-radius: 8px;
    height: auto;
    padding: 4px;
    transition: 0.3s;
    width: 100px;
}

.icon:hover {
    box-shadow:
        inset 0 0 100px 8px var(--text-color),
        0 0 100px 2px var(--text-color);
}

.no-images {
    color: var(--text-color);
    text-align: center;
}

@media screen and (orientation: portrait) {
    .image-container {
        width: 80vw;
    }

    .icon {
        width: 100px;
    }
}