.home-container {
    align-items: end;
    display: grid;
    grid-template-areas:
        "image-container"
        "."
        "link-container";
    grid-template-rows: 0.5fr 6em 0.5fr;
    height: 100%;
    justify-content: center;
}

.image-container {
    display: flex;
    width: 100%;
}

.image {
    aspect-ratio: 3 / 2;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    display: block;
    object-fit: cover;
    transition: 0.3s;
    width: clamp(300px, 60vw, 1000px);
}

.icon {
    width: clamp(100px, 12vw, 300px);
}

.link-container {
    display: grid;
    grid-template-areas:
        "link-1 link-2";
    height: 100%;
    justify-content: space-evenly;

}