.home-container {
    align-items: end;
    display: grid;
    grid-template-areas:
        "image-container"
        "."
        "link-container";
    grid-template-rows: 0.5fr 6em 0.5fr;
    height: 100%;
    justify-content: center;
}

.image-container {
    display: flex;
    width: 100%;
}

.image {
    aspect-ratio: 3 / 2;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    display: block;
    object-fit: cover;
    transition: 0.3s;
    width: clamp(300px, 60vw, 1000px);
}

.image:hover {
    filter: drop-shadow(0 0 1em white);
}

.icon {
    transition: 0.3s;
    width: clamp(100px, 12vw, 300px);
}

.icon.git:hover {
    filter: drop-shadow(0 0 1em white);
}

.icon.linked:hover {
    filter: drop-shadow(0 0 1em #0A66C2);
}

.icon.linked:hover::after {
    background-color: #0A66C2;
    border-radius: 8px;
    content: '';
    filter: blur(1em);
    height: 80%;
    left: 50%;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: 80%;
    z-index: -1;
}

.link-container {
    display: grid;
    grid-template-areas:
        "link-1 link-2";
    grid-template-rows: max-content;
    height: 100%;
    justify-content: space-evenly;

}