.links {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 60vh;
}

.icon {
    border-radius: 8px;
    height: auto;
    padding: 4px;
    transition: 0.2s;
    width: 200px;
}

.icon:hover {
    background-color: var(--on-background-hover);
}