.image-sort-filter {
    background-color: rgba(0, 0, 0, 0.836);
    padding: 4px 24px 8px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 5em;
    height: 3em;
    gap: 8px;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 8;
}

.image-sort,
.sort-direction,
.image-filter {
    display: flex;
    flex-direction: row;
}

.sort-direction button {
    background-color: var(--button-bg);
    padding: 0 16px;
    color: var(--text-color);
    height: 38px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
}

.image-filter-select,
.image-sort-select {
    width: 280px;
    color: var(--text-color);
}

.info-box {
    border: solid 1px var(--text-color);
    color: var(--text-color);
    border-radius: 8px 0 0 8px;
    background-color: var(--button-bg);
    font-size: large;
    padding: 10px 12px 6px 12px;
    height: 20px;
    transition: 0.3s;
    flex: 0 0 auto;
}

@media screen and (orientation: portrait) {
    .image-sort-filter {
        flex-direction: column;
        align-items: stretch;
        padding: 8px;
    }

    .info-box {
        width: 80px;
        flex: 0 0 auto;
    }

    .image-sort,
    .image-filter,
    .sort-direction {
        display: flex;
        justify-content: baseline;
    }

    .image-filter-select,
    .image-sort-select {
        width: 100%;
    }

    .image-sort,
    .image-filter {
        width: calc(100% - 16px);
        margin-right: 8px;
        max-width: 100%;
    }
}