.image-sort-filter {
    align-items: center;
    background-color: rgb(0 0 0 / 80%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 3em;
    left: 0;
    padding: 4px 24px 8px;
    position: fixed;
    right: 0;
    top: 5em;
    z-index: 8;
}

.image-sort,
.sort-direction,
.image-filter {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sort-direction button {
    align-items: center;
    background-color: var(--button-bg);
    border-radius: 0 8px 8px 0;
    color: var(--text-color);
    display: flex;
    height: 38px;
    padding: 0 16px;
    margin: 0;
}

.image-filter-select,
.image-sort-select {
    color: var(--text-color);
    width: 280px;
}

.info-box {
    background-color: var(--button-bg);
    border: solid 1px var(--text-color);
    border-radius: 8px 0 0 8px;
    color: var(--text-color);
    flex: 0 0 auto;
    font-size: large;
    height: 20px;
    padding: 10px 12px 6px;
    transition: 0.3s;
}

@media screen and (orientation: portrait) {
    .image-sort-filter {
        align-items: stretch;
        flex-direction: column;
        padding: 8px;
    }

    .info-box {
        flex: 0 0 auto;
        width: 80px;
    }

    .image-sort,
    .image-filter,
    .sort-direction {
        display: flex;
        justify-content: baseline;
    }

    .image-filter-select,
    .image-sort-select {
        width: 100%;
    }

    .image-sort,
    .image-filter {
        margin-right: 8px;
        max-width: 100%;
        width: calc(100% - 16px);
    }
}