.topbar {
    backdrop-filter: blur(1em);
    background-color: rgb(0 0 0 / 80%);
    display: grid;
    gap: 1.5em;
    grid-template-columns: auto auto auto 1fr;
    height: 5em;
    left: 0;
    padding: 0 1em;
    place-items: center center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.link {
    background-color: var(--button-bg);
    border-radius: 20em;
    color: var(--text-color);
    font-size: x-large;
    padding: 10px 0 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    width: 6em;
}

@property --angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

.link:hover {
    background-color: var(--button-hover-glow);
}

.link:hover::after,
.link:hover::before,
.link.current::after,
.link.current::before {
    animation: 3s spin linear infinite;
    border-radius: 20em;
    content: '';
    height: 100%;
    left: 50%;
    padding: 2px;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    z-index: -1;
}

.link:hover::before {
    filter: blur(2rem);
}

.link:hover::after,
.link:hover::before {
    background-image: conic-gradient(from var(--angle), transparent 70%, rgb(121 48 238));
}

.link.current::before {
    filter: blur(1.5rem);
    opacity: 0.6;
}

.link.current::after,
.link.current::before,
.link.current:hover::after,
.link.current:hover::before {
    background-image: conic-gradient(from var(--angle), rgb(63 129 251), rgb(88 17 202) 20%, rgb(63 129 251 / 100%));
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@media(width <=42em) {
    .topbar {
        gap: 0.05fr;
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        justify-content: center;
        padding: 0;
    }
}