.topbar {
    background-color: rgba(0, 0, 0, 0.836);
    position: fixed;
    top: 0;
    height: 5em;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0 24px;
    gap: 8px;
}

.link {
    border: solid 1px var(--text-color);
    color: var(--text-color);
    border-radius: 48px;
    background-color: var(--button-bg);
    font-size: x-large;
    text-decoration: none;
    padding: 12px 24px 6px 24px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.link:hover {
    background-color: var(--button-hover-glow);
    box-shadow: 0 0 100px 8px var(--text-color);
}

.link.current {
    background-color: var(--current-selection)
}

.link.current:hover {
    box-shadow: none;
}

@media screen and (orientation: portrait) {
    .topbar {
        justify-content: space-between;
        padding: 0 8px;
    }

    .link {
        width: 100%;
        max-width: 80px;
    }
}