.topbar {
    background-color: rgba(0, 0, 0, 0.836);
    position: fixed;
    top: 0;
    height: 5em;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6vw;
}

.link {
    border: solid 1px var(--text-color);
    color: var(--text-color);
    border-radius: 48px;
    background-color: rgba(255, 255, 255, 0.144);
    font-size: x-large;
    text-decoration: none;
    padding: 10px 24px 6px 24px;
    transition: 0.3s;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.26);
    box-shadow: 0 0 100px 8px var(--text-color);
}

.link.current {
    background-color: rgb(88, 17, 202);
}