.card-overlay {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.card-overlay.show {
    opacity: 1;
    visibility: visible;
}

.photo-card-large {
    align-items: center;
    background-color: var(--button-bg);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    max-height: 90%;
    justify-content: center;
    padding: 8px;
    position: relative;
    width: 80%;
    z-index: 15;
}

.photo-card-large.img {
    aspect-ratio: 3 / 2;
    background-color: black;
    border-radius: 6px;
    flex: 0 0 80%;
    object-fit: contain;
    padding: 0;
    margin-left: 8px;
    max-height: 100%;
    max-width: 100%;
}

.photo-card-info {
    align-items: center;
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 8px;
    position: relative;
}

#title-underline {
    background: var(--text-color);
    border: 0;
    height: 2px;
    margin: 8px;
    width: 98%;
}

#date {
    font-size: x-large;
}

.photo-card-categories {
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
    justify-content: center;
    padding-bottom: 3px;
    position: absolute;
    width: 100%;
}

.photo-card-categories p {
    padding: 6px 8px 2px 8px;
}

#category {
    height: fit-content;
    background-color: var(--background);
    border: solid 1px var(--background);
    border-radius: 4px;
    width: fit-content;
    transition: all 0.2s;
}

#category:hover {
    border: solid 1px var(--text-color);
    background-color: var(--button-hover-glow);
    box-shadow: 0 0 50px 4px var(--text-color);
    cursor: pointer;
}

#previous,
#next,
#close {
    cursor: pointer;
    padding: 8px;
    position: absolute;
    width: 32px;
    z-index: 20
}

#next {
    right: -6%;
    top: 47%;
}

#previous {
    left: -6%;
    top: 47%;
}

#close {
    right: 0%;
    top: 0%;
}

@media screen and (orientation: portrait) {
    .photo-card-large {
        flex-direction: column;
    }

    .photo-card-large.img {
        margin: 0;
        width: 100%;
    }

    .photo-card-categories {
        margin-top: 8px;
        position: relative;
    }

    .photo-card-info {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 8px;
    }

    #next {
        right: 2%;
        top: 76%;
    }

    #previous {
        left: 2%;
        top: 76%;
    }

    #close {
        right: 2%;
        top: 0%;
        width: 32px;
    }
}