.photo-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto auto auto;
    padding: 12px;
    margin-bottom: 12px
}

@media screen and (width <=1200px) {
    .photo-grid {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (width <=900px) {
    .photo-grid {
        grid-template-columns: auto auto;
    }
}

@media screen and (width <=600px) {
    .photo-grid {
        grid-template-columns: auto;
    }
}

.photo-card-small {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: 600px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

.photo-card-small:hover {
    border-color: var(--text-color);
    cursor: pointer;
}

.photo-card-small img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3 / 2;
}

.photo-card-small p {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: large;
    padding: 8px;
    position: absolute;
    text-align: left;
    width: 100%;
}

footer {
    background-color: var(--on-background);
    bottom: 0;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}