.photo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 2em 0 2.4em;
    padding: 0 24px;
}

@media screen and (width <=900px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.photo-card-small {
    border: 1px solid rgb(255 255 255 / 43.8%);
    border-radius: 8px;
    box-shadow: 0 0 4px rgb(255 255 255 / 43.8%);
    max-width: 800px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

.photo-card-small:hover {
    border-color: var(--text-color);
    box-shadow: 0 0 6px 2px rgb(255 255 255 / 43.8%);
    cursor: pointer;
}

.photo-card-small img {
    aspect-ratio: 3 / 2;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.photo-card-small p {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: large;
    padding: 8px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.no-images {
    color: var(--text-color);
    text-align: center;
}

footer {
    background-color: rgb(0 0 0 / 83.6%);
    bottom: 0;
    color: var(--text-color);
    left: 0;
    padding-top: 4px;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a {
    color: var(--text-color);
}

footer a:hover {
    color: blue;
}

@media screen and (orientation: portrait) {
    .photo-grid {
        margin-top: 15.5em;
        padding: 8px;
    }
}