.photo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 0 24px;
    margin-bottom: 3em;
}

@media screen and (width <=900px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.photo-card-small {
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.438);
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

.photo-card-small:hover {
    border-color: var(--text-color);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.438);
    cursor: pointer;
}

.photo-card-small img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3 / 2;
}

.photo-card-small p {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: large;
    padding: 8px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.no-images {
    color: var(--text-color);
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.836);
    color: var(--text-color);
    bottom: 0;
    left: 0;
    padding-top: 4px;
    position: fixed;
    text-align: center;
    width: 100vw;
}

footer a {
    color: var(--text-color);
}

footer a:hover {
    color: blue;
}