.card-overlay.show {
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 30%);
    height: 100%;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
    transition: all 0.3s;
    visibility: visible;
    width: 100%;
    z-index: 10;
}

.card-overlay {
    opacity: 0;
    visibility: hidden;
}

.photo-container {
    display: grid;
    grid-template-areas: "previous photo-card-large next";
    grid-template-columns: auto 0.9fr auto;
    place-items: center;
    max-height: 90%;
}

.photo-card-large {
    color: var(--text-color);
    background-color: var(--button-bg);
    border-radius: 8px;
    display: grid;
    grid-template-areas:
        "photo-card-image photo-card-close"
        "photo-card-image photo-card-info"
    ;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 0.1fr 1fr;
    height: fit-content;
    max-height: 85vh;
    width: fit-content;
    padding: 8px;
}

.photo-card-large.img {
    aspect-ratio: 3 / 2;
    justify-self: center;
    align-self: center;
    background-color: black;
    border-radius: 6px;
    flex: 0 0 80%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    padding: 0;
}

.photo-card-info {
    align-items: center;
    text-align: center;
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

#title-underline {
    background: var(--text-color);
    border: 0;
    height: 2px;
    margin-bottom: 12px;
    width: 90%;
}

#date {
    font-size: x-large;
}

.photo-card-categories {
    display: flex;
    width: 100%;
    gap: 4px;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.photo-card-categories p {
    padding: 3px 2px 2px;
}

.category {
    color: var(--text-color);
    background-color: var(--button-bg);
    border: solid 1px var(--text-color);
    border-radius: 4px;
    margin: 0;
    padding: 8px 8px 9px;
    transition: all 0.2s;
}

.category:hover {
    cursor: pointer;
}

/* Tag hovers in PhotoCardTags.css */

#previous,
#next,
#close {
    cursor: pointer;
    z-index: 20;
    padding: 2em;
    border: none;
    margin: 0;
    height: fit-content;
}

#previous {
    justify-self: end;
    background: url('../assets/chevron-left-solid.svg') no-repeat center;
}

#next {
    justify-self: start;
    background: url('../assets/chevron-right-solid.svg') no-repeat center;
}

#close {
    justify-self: end;
    background: url('../assets/xmark-solid.svg') no-repeat center;
}

@media(width <=42em) {
    .photo-container {
        grid-template-areas:
            "photo-card-large photo-card-large"
            "previous next"
        ;
        grid-template-columns: 0.5fr 0.5fr;
        row-gap: 2em;
    }

    #previous,
    #next {
        justify-self: center;
    }

    #close {
        align-self: center;
    }

    .photo-card-large {
        grid-template-areas:
            "photo-card-image photo-card-image"
            "photo-card-info photo-card-close"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.2fr;
        row-gap: 1em;
        max-width: 90vw;
    }

}