.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 8px;
}

.photo-card {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: 70vw;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}

.photo-card:hover {
    border-color: var(--text-color);
    cursor: pointer;
}

.photo-card img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.photo-card p {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: large;
    padding: 8px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.photo-card p:last-child {
    background-color: transparent;
    text-align: right;
}