@import url("ImageSorting.css");

.photo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 2em 0 2.4em;
    padding: 0 24px;
    z-index: 1;
}

.photo-card-small {
    border: 1px solid rgb(255 255 255 / 43.8%);
    border-radius: 8px;
    box-shadow: 0 0 4px rgb(255 255 255 / 43.8%);
    max-width: 800px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

.photo-card-small:hover {
    border-color: var(--text-color);
    filter: drop-shadow(0 0 0.3em white);
    cursor: pointer;
}

.photo-card-small img {
    aspect-ratio: 3 / 2;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.photo-card-small p {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: large;
    padding: 8px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.no-images {
    color: var(--text-color);
    text-align: center;
}

footer {
    backdrop-filter: blur(1em);
    background-color: rgb(0 0 0 / 80%);
    bottom: 0;
    color: var(--text-color);
    left: 0;
    padding: 4px 4px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a {
    color: var(--text-color);
}

footer a:hover {
    color: blue;
}

@media(width <=42em) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 6em;
        padding: 8px;
    }
}