:root {
  font-family: monospace;

  --text-color: white;
  --background-color: slategray;
  --on-background-color: mediumpurple;
  --on-background-hover: mediumorchid;
}

body {
  background-color: var(--background-color);
}

p,
h1,
h2,
h3,
body {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background-color: var(--on-background-color);
  min-height: fit-content;
  padding: 8px;
  position: relative;
}

.topbar {
  align-items: center;
  color: var(--text-color);
  display: flex;
  height: 100%;
  justify-content: center;
}

.menu-button {
  left: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  transition: 0.4s;
  z-index: 10;
}

.menu-button.rotate90 {
  transform: rotate(90deg);
}

.sidebar {
  background-color: var(--on-background-hover);
  border-radius: 8px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: large;
  height: fit-content;
  left: 0;
  margin: 4px;
  min-width: fit-content;
  overflow: hidden;
  padding-top: 30px;
  position: absolute;
  top: 0;
  transition: 0.4s;
  width: 16%;
}

.sidebar.hidden {
  left: -25%;
  opacity: 0;
}

.sidebar p {
  padding: 8px;
  transition: 0.2s;
}

.sidebar p:hover {
  background-color: powderblue;
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}

.icon {
  border-radius: 8px;
  padding: 2px;
  transition: 0.2s;
}

.icon:hover {
  background-color: var(--on-background-hover);
}